<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chatting_home</title>

  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
<!-- component -->
<div class="flex flex-row h-screen antialiased text-gray-800">
  <div class="flex flex-row w-30 flex-shrink-0 bg-gray-100 p-4">
    <div class="flex flex-col items-center py-4 flex-shrink-0 w-20 bg-indigo-800 rounded-3xl">
      <a class="flex items-center justify-center h-12 w-12 bg-indigo-100 text-indigo-800 rounded-full">
        <svg class="w-8 h-8"
             fill="none"
             stroke="currentColor"
             viewBox="0 0 24 24"
             xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M7 8h10M7 12h4m1 8l-4-4H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-3l-4 4z"></path>
        </svg>
      </a>
      <ul class="flex flex-col space-y-2 mt-12">
        <li>
          <a href="http://localhost:3000/chat_home?id=<%= userId %>"
             class="flex items-center">
            <span class="flex items-center justify-center text-indigo-100 hover:bg-indigo-700 h-12 w-12 rounded-2xl">
              <svg class="w-6 h-6"
                   fill="none"
                   stroke="currentColor"
                   viewBox="0 0 24 24"
                   xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path>
              </svg>
            </span>
          </a>
        </li>
        <li>
          <a href="http://localhost:3000/chat_room?id=<%= userId %>"
             class="flex items-center">
            <span class="flex items-center justify-center text-indigo-100 hover:bg-indigo-700 h-12 w-12 rounded-2xl">
              <svg class="w-6 h-6"
                   fill="none"
                   stroke="currentColor"
                   viewBox="0 0 24 24"
                   xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M8 12h.01M12 12h.01M16 12h.01M21 12c0 4.418-4.03 8-9 8a9.863 9.863 0 01-4.255-.949L3 20l1.395-3.72C3.512 15.042 3 13.574 3 12c0-4.418 4.03-8 9-8s9 3.582 9 8z"></path>
              </svg>
            </span>
          </a>
        </li>

        <li>
          <a href="http://localhost:3000/chat_setting?id=<%= userId %>"
             class="flex items-center">
            <span class="flex items-center justify-center text-indigo-100 hover:bg-indigo-700 h-12 w-12 rounded-2xl">
              <svg class="w-6 h-6"
                   fill="none"
                   stroke="currentColor"
                   viewBox="0 0 24 24"
                   xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z"></path>
                <path stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path>
              </svg>
            </span>
          </a>
        </li>
      </ul>
      <button class="mt-auto flex items-center justify-center hover:text-indigo-100 text-indigo-500 h-10 w-10">
        <svg class="w-6 h-6"
             fill="none"
             stroke="currentColor"
             viewBox="0 0 24 24"
             xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z"></path>
        </svg>
      </button>
    </div>
  </div>
  <div class="flex-1 bg-gray-100 dark:bg-gray-100 overflow-y-auto transition duration-500 ease-in-out">
  <div class="px-24 py-12 text-gray-700 dark:text-gray-500 transition duration-500 ease-in-out">
    <h2 class="text-4xl font-medium capitalize">오픈 채팅방</h2>
    <div class="mt-1 mb-4 flex items-center justify-between">
      <span class="text-sm">총 <%= open_chat_data.length %> 개 방</span>



         <!-- 방 개설하기 버튼 -->
      <div class="flex items-center select-none">
        <button onclick="make_room_modal()" class="flex items-center focus:outline-none border rounded-full py-3 px-7 border-blue-500 dark:border-blue-600 select-none hover:bg-blue-400 hover:text-white dark-hover:text-gray-200">
        <svg class="h-5 w-5 fill-current mr-2" viewBox="0 0 510 510">
          <path d="M255,0C114.75,0,0,114.75,0,255s114.75,255,255,255s255-114.75,255-255S395.25,0,255,0z M382.5,280.5h-102v102h-51v-102
          h-102v-51h102v-102h51v102h102V280.5z"/>
        </svg>
        <span>방 만들기</span>
        </button>
      </div>
   
    </div>

    <div class="border dark:border-gray-700 transition duration-500 ease-in-out"></div>
    <div class="flex flex-col mt-2">


    <!-- db에서 조회한 방 목록을 보여주는 부분 -->
    <% if (open_chat_data != null && open_chat_data.length > 0) { 
        for ( var i = 0; i < open_chat_data.length; i++ ) { %>

        
  
      <div class="flex flex-row mt-2">
        <div class="flex w-full items-center justify-between bg-white dark:bg-gray-800 px-8 py-6 border-l-4 border-green-500 dark:border-green-300">
          <input id="open_chat_no" type="hidden" value="<%= open_chat_data[i].open_chat_no %>">


          
          <!-- card -->
          <div class="flex">
            <img 
              class="h-40 w-64 object-cover"
              src="http://127.0.0.1/<%= open_chat_data[i].chat_thumbnail %>"
              alt="infamous" />

              
            <div class="flex flex-col ml-10">
              <span class="text-lg mt-5 font-bold"><%= open_chat_data[i].chat_title %></span>



              <div class="mt-4 flex">
                <div class="flex">
                  <svg class="h-5 w-5 fill-current dark:text-gray-300" viewBox="0 0 24 24">
                    <path d="M12 4a4 4 0 014 4 4 4 0 01-4 4 4 4 0 01-4-4 4 4 0 014-4m0 10c4.42 0 8 1.79 8 4v2H4v-2c0-2.21 3.58-4 8-4z"></path>
                  </svg>
                  <span class="ml-4 text-sm text-gray-600 dark:text-gray-300 capitalize"><%= open_chat_data[i].join_member_qty %> 명</span>
                  <span id="maximum_member" class="ml-4 text-sm text-gray-600 dark:text-gray-300 capitalize">(<%= open_chat_data[i].chat_member %> 명)</span>
                </div>

                <div class="flex ml-6">
                  <svg class="h-5 w-5 fill-current dark:text-gray-300" viewBox="0 0 24 24">
                    <path d="M19 19H5V8h14m-3-7v2H8V1H6v2H5c-1.11 0-2 .89-2 2v14a2 2 0 002 2h14a2 2 0 002-2V5a2 2 0 00-2-2h-1V1m-1 11h-5v5h5v-5z"></path>
                  </svg>
                  <span class="ml-2 text-sm text-gray-600 dark:text-gray-300 capitalize"><%= new Date(open_chat_data[i].created).getMonth()+1 %> 월 / <%= new Date(open_chat_data[i].created).getDate() %> 일 개설</span>
                </div>

              </div>

              <div class="mt-4 flex">
                    <button onclick="show_room_info(<%= open_chat_data[i].open_chat_no%>);"
                      class="flex items-center
                      focus:outline-none border rounded-full
                      py-2 px-6 leading-none border-gray-500
                      dark:border-gray-600 select-none
                      hover:bg-blue-400 hover:text-white
                      dark-hover:text-gray-200">
                      <svg class="h-5 w-5 fill-current mr-2" viewBox="0 0 561 561">
                          <path d="M459,51H351.9c-10.2-30.6-38.25-51-71.4-51c-33.15,0-61.2,20.4-71.4,51H102c-28.05,0-51,22.95-51,51v408
                          c0,28.05,22.95,51,51,51h357c28.05,0,51-22.95,51-51V102C510,73.95,487.05,51,459,51z M280.5,51c15.3,0,25.5,10.2,25.5,25.5
                          S295.8,102,280.5,102S255,91.8,255,76.5S265.2,51,280.5,51z M459,510H102V102h51v76.5h255V102h51V510z"/>
                      </svg>
                      <span>정보보기</span>
                    </button>

                  <button onclick="join_room(<%= open_chat_data[i].open_chat_no%>);"
                      class="flex items-center ml-4
                      focus:outline-none border rounded-full
                      py-2 px-6 leading-none border-blue-500
                      dark:border-blue-600 select-none
                      hover:bg-blue-400 hover:text-white
                      dark-hover:text-gray-200">
                      <svg
                        class="h-5 w-5 fill-current mr-2
                        text-blue-600"
                        viewBox="0 0 576 512">
                        <path d="M484.5,102h-51v229.5H102v51c0,15.3,10.2,25.5,25.5,25.5H408l102,102V127.5C510,112.2,499.8,102,484.5,102z M382.5,255
                        V25.5C382.5,10.2,372.3,0,357,0H25.5C10.2,0,0,10.2,0,25.5v357l102-102h255C372.3,280.5,382.5,270.3,382.5,255z"/>
                      </svg>
                      <span>참여하기</span>
                    </button>           
                </div>
                       
              </div>
          </div>


          <!-- 룸생성자의 id가 접속한 userId 와 동일한경우 수정 삭제 버튼을 보여줌 -->
          <% if (open_chat_data[i].room_master_id == userId) { %>
            <span>
              <button onClick="reviseRoom('update',<%= open_chat_data[i].open_chat_no %>);"
                  class="ml-3 bg-gray-400 dark:bg-gray-600
                  dark:text-gray-400 rounded-full p-2 focus:outline-none
                  hover:text-pink-500 hover:bg-pink-300 transition
                  duration-500 ease-in-out">
                  <svg class="h-5 w-5 fill-current" viewBox="0 0 510 510">
                    <path
                        d="M0,387.6v96.9h96.9l280.5-283.05l-96.9-96.9L0,387.6z M451.35,127.5c10.2-10.2,10.2-25.5,0-35.7L392.7,33.149
                        c-10.2-10.2-25.5-10.2-35.7,0l-45.9,45.9l96.9,96.9L451.35,127.5z M229.5,433.5l-51,51H510v-51H229.5z"></path>
                  </svg>
              </button>
              <button onClick="reviseRoom('delete',<%= open_chat_data[i].open_chat_no %>);"
                  class="ml-2 bg-gray-400 dark:bg-gray-600
                  dark:text-gray-400 rounded-full p-2 focus:outline-none
                  hover:text-pink-500 hover:bg-pink-300 transition
                  duration-500 ease-in-out">
                  <svg class="h-5 w-5 fill-current" viewBox="0 0 459 459">
                    <path
                        d="M76.5,408c0,28.05,22.95,51,51,51h204c28.05,0,51-22.95,51-51V102h-306V408z M408,25.5h-89.25L293.25,0h-127.5l-25.5,25.5
                        H51v51h357V25.5z"></path>
                  </svg>
                </button>
              </span>

            <% }%>

        </div>
      </div>


      <%  }
    } %>
    

    

    </div>
  </div>
</div>
</div>


<!-- 방만들기 model 창 -->
<div id="modal" class="searchModal">
  <form id="submit_form" action="/newroom" method="post" enctype="multipart/form-data">
    <input id="userId" name="userId" value="<%= userId %>" type="hidden"/>
    <input id="action" name="action" value="" type="hidden"/>
    <input id="revised_open_chat_no" name="open_chat_no" value="" type="hidden"/>
      <div class="search-modal-content">
        <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 flex flex-col my-2">
          <div class="self-end" onClick="closeModal();">
            <svg class="h-4 w-4" viewBox="0 0 357 357">
              <polygon points="357,35.7 321.3,0 178.5,142.8 35.7,0 0,35.7 142.8,178.5 0,321.3 35.7,357 178.5,214.2 321.3,357 357,321.3 
              214.2,178.5"/>
            </svg>
          </div>
          <div class="-mx-3 md:flex mb-6">
            <div class="md:w-1/2 px-3 mb-6 md:mb-0">
              <label class="block uppercase tracking-wide text-grey-darker text-sm font-bold mb-2" for="chat_room_title">
                방 제목
              </label>
              <input class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-red rounded py-3 px-4 mb-3" id="chat_room_title" name="chat_room_title" type="text" placeholder="20자 이내">
              <p id="err_title" class="text-red-500 text-sm italic hidden">방제목을 입력해 주세요.</p>
            </div>
            <div class="md:w-1/2 px-3">
              <label class="block uppercase tracking-wide text-grey-darker text-sm font-bold mb-2" for="chat_room_member">
                최대 인원 수
              </label>
              <input class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4" id="chat_room_member" name="chat_room_member" type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" placeholder="숫자만 입력 해주세요.">
              <p id="err_member" class="text-red-500 text-sm italic hidden">최대 인원 수를 설정해 주세요.</p>
            </div>
          </div>
          <div class="mb-8">
            <label class="block uppercase tracking-wide text-grey-darker text-sm font-bold mb-2" for="chat_room_intro">
              채팅 방 소개
            </label>
            <input class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4" id="chat_room_intro" name="chat_room_intro" type="text" placeholder="채팅방 소개 작성">
            <p id="err_intro" class="text-red-500 text-sm italic hidden">채팅방 소개를 작성해 주세요.</p>
          </div>
          <div class="-mx-3 md:flex mb-6">
            <div class="md:w-full px-3">
              <label class="block uppercase tracking-wide text-grey-darker text-sm font-bold mb-3">
                대표 사진
              </label>
              <label id="photo" for="chat_room_img">대표사진 선택
                  <input class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4 mb-3" id="chat_room_img" name="chat_room_img" type="file">
              </label>
              <img class="inline-block ml-6 hidden" width="150px" height="150px" id="main_thumbnail" src=''>
              <p id="err_img" class="text-red-500 text-sm italic hidden">대표사진을 설정해 주세요.</p>
            </div>
          </div>
          <div id="room_open_bt" style="cursor:pointer; background-color: steelblue; text-align: center; padding-bottom: 10px; padding-top: 10px; color: floralwhite;" onClick="make_room();">방 개설</div>
        </div>
      </div>
  </form>
</div>


<!-- 방 정보 보여주기 model 창 -->
<div id="room_info_modal" class="searchModal">
      <div class="search-modal-content-view input_background">
        <div class="shadow-md rounded px-8 pt-6 pb-8 mb-4 flex flex-col my-2" style="background-color: aliceblue; opacity: 0.8;">
          <div class="self-end" onClick="closeModal();">
            <svg class="h-4 w-4" viewBox="0 0 357 357">
              <polygon points="357,35.7 321.3,0 178.5,142.8 35.7,0 0,35.7 142.8,178.5 0,321.3 35.7,357 178.5,214.2 321.3,357 357,321.3 
              214.2,178.5"/>
            </svg>
          </div>
          <div class="text-sm">오픈채팅</div>
          <div class="room_info_title text-lg mt-4"></div>
          <div class="room_info_detail text-sm mt-2">
            <span class="current_member"></span>
            <span class="maximum_member"></span>
            <span class="border-l ml-2 pl-2" style="border-left: solid gray;">개설일 </span>
            <span class="room_created ml-1"></span>
          </div>
          <div class="mt-32">
            <img class="room_master_profileimg rounded-full object-cover w-9 inline">
            <span class="room_master_nickname text-base ml-3"></span>
          </div>
          <div class="room_intro text-base mt-4"></div>
        </div>
      </div>

</div>


<style>
  /* The Modal (background) */
  .searchModal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 10; /* Sit on top */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.3); /* Black w/ opacity */
  }
  /* Modal Content/Box */
  .search-modal-content {
      background-color: #fefefe;
      margin: 10% auto; /* 15% from the top and centered */
      padding: 20px;
      border: 1px solid #888;
      width: 70%; /* Could be more or less, depending on screen size */
  }

    /* Modal Content/Box */
    .search-modal-content-view {
      margin: 10% auto; /* 15% from the top and centered */
      padding: 20px;
      border: 1px solid #888;
      width: 30%; 
      background-image: url(images/images8.jpg);
  }
  .hidden {
    display: none;
  }

  #photo {
   cursor: pointer;
   border: 1px solid #bfbfbf;
   padding: 5px 10px;
   background: #fff;
   color: rosybrown;
   font-size: 16px;
  }

  #chat_room_img {
    opacity: 0;
    position: absolute;
    z-index: -1;
  }

  </style>
<!-- <script src="/socket.io/socket.io.js"></script> -->
<script src="//code.jquery.com/jquery-1.11.1.js"></script>
<script>

  function make_room_modal () {

    var userId = $('#userId').val();

    if (userId == '') {
      alert('방개설은 로그인 후에 가능합니다');
      return;
    }

    $('#action').val('create'); // 방 생성임을 input(hidden) 에 val= create 입력해줌

    // 방생성 클릭시엔 모든 값 비워줌 = 초기화
    $('#chat_room_title').val('');
    $('#chat_room_member').val('');
    $('#chat_room_img').val('')
    $('#main_thumbnail').attr('src','');
    $('#main_thumbnail').addClass('hidden');
    $('#chat_room_intro').val('');
    $('#err_title').addClass('hidden');
    $('#err_member').addClass('hidden');
    $('#err_img').addClass('hidden');
    $('#err_intro').addClass('hidden');


    $('#room_open_bt').text('오픈 방 생성');
    $("#modal").show();
  };
  
  function closeModal() {
    $('.searchModal').hide();
  };
  
  // 새로운 방 개설 or 방 수정하는 메서드
  // 입력되지 않은 값에 해당하는 필드는 err를 띄움, 모든 값을 입력하면 submit됨. 
  function make_room() {
  
    var check1 = false; // 타이틀 입력여부 확인
    var check2 = false; // 최대멤버명수 입력여부 확인
    var check3 = false; // 이미지 입력여부 확인
    var check4 = false; // 방 소개 입력여부 확인

    if ($('#chat_room_title').val() == '') {
      $('#err_title').removeClass('hidden');
      check1 = false;
    } else {
      $('#err_title').addClass('hidden');
      check1 = true;
    }

    if ($('#chat_room_member').val() == '') {
      $('#err_member').removeClass('hidden');
      check2 = false;
    } else {
      $('#err_member').addClass('hidden');
      check2 = true;
    } 

    // input태그에 선택한 파일도 없고, 방 수정시 기존 불러온 image도 없는경우는 방생성, 방수정 불가   
    if ($('#chat_room_img').val() == '' && $('#main_thumbnail').attr('src') == '') {
      $('#err_img').removeClass('hidden');
      check3 = false;
    } else {
      $('#err_img').addClass('hidden');
      check3 = true;
    }

    if ($('#chat_room_intro').val() == '') {
      $('#err_intro').removeClass('hidden');
      check4 = false;
    } else {
      $('#err_intro').addClass('hidden');
      check4 = true;
    }

    if (check1 == false || check2 == false || check3 == false || check4 == false) {
      return;
    }

    console.log('pass this line?');
  
    $('.searchModal').hide();
    $('#submit_form').submit();
  };


  
    // 대표사진 클릭시 image tag 에 보이도록 적용
    $('#chat_room_img').change(function(){
      $('#main_thumbnail').removeClass('hidden');
      $('#err_img').addClass('hidden');
      setImageFromFile(this, '#main_thumbnail');
      });
    
    function setImageFromFile(input, expression) {
          if (input.files && input.files[0])
          {
              var reader = new FileReader();
      
                  reader.onload = function (e) {
                      $(expression).attr('src', e.target.result);

                }
                reader.readAsDataURL(input.files[0]);

          }
    }

  // 다른방에 참여하기 클릭시 해당 방으로 이동
  function join_room(room_number) {

    
    var userId =  $('#userId').val();

    // 로그인이 안된상태는 open chat방에 입장불가 ( 파라미터에 id가 없이 접속한 경우 )
    if (userId == "") {
      alert("방에 입장하시려면 로그인이 필요합니다.");
      return;


    } else {

      // 이미 참여중인 open chat room 인지 db에서 조회 후 참여중이라면 if_join값이 배열로 들어옴 => 채팅방 창으로 이동
      // 참여중인 방이 아니라면 참여 re-check 알림창 띄움
        $.ajax({
              url: '/newroom/get',
              dataType: 'json',
              type: 'GET',
              data: {room_number : room_number, userId : userId},
              success: function(check_join) {

                console.log(check_join);
                var maximum_member = $('#maximum_member').text().replace(/[^0-9]/g,'');
                console.log(maximum_member);
                console.log(check_join.room_member.length)

                if (check_join.result == 'ok') {

                  // 현재 가입돼있는 인원이 maximum member(멤버허용수) 보다 높은 경우 return && 
                  // 이미 가입돼있는 member_id 와 현재 접속중인 user_id를 비교해 동일한 user_id가 있는경우 return;
                   if (check_join.room_member.length >= maximum_member) {
                      alert('이미 만실입니다.');
                      return;
                   }

                   for (var temp = 0 ; temp < check_join.room_member.length ; temp++ ) {
                     console.log('member id : '+check_join.room_member[temp].member_id)
                     console.log('현재 user id : '+userId)

                      if (check_join.room_member[temp].member_id == userId) {

                        alert('해당방은 이미 참여중입니다.');
                        return;
                      }
                    }

                    var result = confirm (room_number+"번 방에 참여 하시겠습니까?");
                    if (result) {

                      joinSaveMember (room_number, userId);

                    } else console.log("취소버튼");
                
                } 
              }
          });
    }
  }

  function show_room_info(open_chat_no) {

    $.ajax({
              url: '/newroom/getRoom',
              dataType: 'json',
              type: 'GET',
              data: {room_number : open_chat_no},
              success: function(show_room) {

                var data = show_room.chat_room[0];

                if (show_room.result == 'ok') {
                    $('.input_background').css({"background-image":"url(http://127.0.0.1/"+data.chat_thumbnail+")", 'background-repeat' : 'no-repeat', 'background-position':'center'});
                    $('.room_info_title').text(data.chat_title)
                    $('.current_member').text(data.member_count)
                    $('.maximum_member').text('/ '+data.chat_member)
                    $('.room_created').text(data.created);
                    $('.room_master_profileimg').attr('src', 'http://127.0.0.1/' + data.profileimg)
                    $('.room_master_nickname').text(data.nickname)
                    $('.room_intro').text(data.room_introduce)

                    $('#room_info_modal').show();

                } 
              }
          });
  }

  

  // 오픈챗 참여하기를 클릭한 경우 open_chat_member 테이블에 해당 유저 detail 저장
  function joinSaveMember (room_number, userId) {

    $.ajax({
              url: '/newroom/join',
              dataType: 'json',
              type: 'GET',
              data: {room_number : room_number, userId : userId},
              success: function(join) {

                console.log(join.result);

                if (join.result == 'ok') {

                  location.href = 'http://localhost:3000/chat_room?id='+userId+'&room_type=open_chat&room_no='+room_number;

                }
              }
          });
  }
  

  // 방 수정 or 삭제 클릭시
  // 수정 = 기존 room data 를 가져와서 보여줌
  // 삭제 = db에서 방을 삭제
  function reviseRoom(action, open_chat_no) {

      var userId =  $('#userId').val();
      console.log(open_chat_no);

      if (action == 'update') {

          $.ajax({
                url: '/newroom/update',
                dataType: 'json',
                type: 'GET',
                data: {room_number : open_chat_no, userId : userId},
                success: function(room_data) {

                  if (room_data.result == 'ok') {

                    console.log(room_data.chat_room[0]);
                    
                    $('#action').val('update'); // 방 수정임을 input(hidden) 에 val= update 입력해줌


                    $('#revised_open_chat_no').val(room_data.chat_room[0].open_chat_no);
                    $('#chat_room_title').val(room_data.chat_room[0].chat_title);
                    $('#chat_room_member').val(room_data.chat_room[0].chat_member);
                    $('#main_thumbnail').attr('src','http://127.0.0.1/' + room_data.chat_room[0].chat_thumbnail);
                    $('#chat_room_intro').val(room_data.chat_room[0].room_introduce);
                    $('#main_thumbnail').removeClass('hidden'); // 썸네일 보여주는 부분 block으로 만듬
                    $('#room_open_bt').text('방 정보 수정');

                  } else {


                  }
                }
            });
        
        $("#modal").show();

      } // if (action == update) 일때

      // 방 삭제 아이콘 클릭 시 confirm 창 띄워준 후 db에서 삭제
      if (action == 'delete') {

        var result = confirm (open_chat_no+"번 방을 정말 삭제 하시겠습니까?");
        if (result) {

        var delete_room =
        
                  $.ajax({
                    url: '/newroom/delete',
                    dataType: 'json',
                    type: 'GET',
                    data: {room_number : open_chat_no, userId : userId}
                });

        delete_room.done(function(data){

                        location.href = '/chat_home?id='+userId;
                    return;
                });

          } // confirm = true
        
      } // action == delete

  }

  </script>

</body>
</html>