<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chatting_home</title>

  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
<!-- component -->
<div class="flex flex-row h-screen antialiased text-gray-800">
  <div class="flex flex-row w-30 flex-shrink-0 bg-gray-100 p-4">
    <div class="flex flex-col items-center py-4 flex-shrink-0 w-20 bg-indigo-800 rounded-3xl">
      <a class="flex items-center justify-center h-12 w-12 bg-indigo-100 text-indigo-800 rounded-full">
        <svg class="w-8 h-8"
             fill="none"
             stroke="currentColor"
             viewBox="0 0 24 24"
             xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M7 8h10M7 12h4m1 8l-4-4H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-3l-4 4z"></path>
        </svg>
      </a>
      <ul class="flex flex-col space-y-2 mt-12">
        <li>
          <a href="http://localhost:3000/chat_home?id=<%= userId %>"
             class="flex items-center">
            <span class="flex items-center justify-center text-indigo-100 hover:bg-indigo-700 h-12 w-12 rounded-2xl">
              <svg class="w-6 h-6"
                   fill="none"
                   stroke="currentColor"
                   viewBox="0 0 24 24"
                   xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path>
              </svg>
            </span>
          </a>
        </li>
        <li>
          <a href="http://localhost:3000/chat_room?id=<%= userId %>"
             class="flex items-center">
            <span class="flex items-center justify-center text-indigo-100 hover:bg-indigo-700 h-12 w-12 rounded-2xl">
              <svg class="w-6 h-6"
                   fill="none"
                   stroke="currentColor"
                   viewBox="0 0 24 24"
                   xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M8 12h.01M12 12h.01M16 12h.01M21 12c0 4.418-4.03 8-9 8a9.863 9.863 0 01-4.255-.949L3 20l1.395-3.72C3.512 15.042 3 13.574 3 12c0-4.418 4.03-8 9-8s9 3.582 9 8z"></path>
              </svg>
            </span>
          </a>
        </li>

        <li>
          <a href="http://localhost:3000/chat_setting?id=<%= userId %>"
             class="flex items-center">
            <span class="flex items-center justify-center text-indigo-100 hover:bg-indigo-700 h-12 w-12 rounded-2xl">
              <svg class="w-6 h-6"
                   fill="none"
                   stroke="currentColor"
                   viewBox="0 0 24 24"
                   xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z"></path>
                <path stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path>
              </svg>
            </span>
          </a>
        </li>
      </ul>
      <button class="mt-auto flex items-center justify-center hover:text-indigo-100 text-indigo-500 h-10 w-10">
        <svg class="w-6 h-6"
             fill="none"
             stroke="currentColor"
             viewBox="0 0 24 24"
             xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z"></path>
        </svg>
      </button>
    </div>
  </div>
  <div class="flex-1 bg-gray-100 dark:bg-gray-100 overflow-y-auto transition duration-500 ease-in-out">
  <div class="px-24 py-12 text-gray-700 dark:text-gray-500 transition duration-500 ease-in-out">
    <h2 class="text-4xl font-medium capitalize">오픈 채팅방</h2>
    <div class="mt-1 mb-4 flex items-center justify-between">
      <span class="text-sm">총 <%= open_chat_data.length %> 개 방</span>



         <!-- 방 개설하기 버튼 -->
      <div class="flex items-center select-none">
        <button onclick="make_room_modal()" class="flex items-center focus:outline-none border rounded-full py-3 px-7 border-blue-500 dark:border-blue-600 select-none hover:bg-blue-400 hover:text-white dark-hover:text-gray-200">
        <svg class="h-5 w-5 fill-current mr-2" viewBox="0 0 510 510">
          <path d="M255,0C114.75,0,0,114.75,0,255s114.75,255,255,255s255-114.75,255-255S395.25,0,255,0z M382.5,280.5h-102v102h-51v-102
          h-102v-51h102v-102h51v102h102V280.5z"/>
        </svg>
        <span>방 만들기</span>
        </button>
      </div>
   
    </div>

    <div class="border dark:border-gray-700 transition duration-500 ease-in-out"></div>
    <div class="flex flex-col mt-2">


    <!-- db에서 조회한 방 목록을 보여주는 부분 -->
    <% if (open_chat_data != null && open_chat_data.length > 0) { 
        for ( var i = 0; i < open_chat_data.length; i++ ) { %>

        
  
      <div class="flex flex-row mt-2">
        <div class="flex w-full items-center justify-between bg-white dark:bg-gray-800 px-8 py-6 border-l-4 border-green-500 dark:border-green-300">
          <input id="open_chat_no" type="hidden" value="<%= open_chat_data[i].open_chat_no %>">


          
          <!-- card -->
          <div class="flex">
            <img 
              class="h-40 w-64 object-cover"
              src="http://127.0.0.1/<%= open_chat_data[i].chat_thumbnail %>"
              alt="infamous" />

              
            <div class="flex flex-col ml-10">
              <span class="text-lg mt-5 font-bold"><%= open_chat_data[i].chat_title %></span>



              <div class="mt-4 flex">
                <div class="flex">
                  <svg class="h-5 w-5 fill-current dark:text-gray-300" viewBox="0 0 24 24">
                    <path d="M12 4a4 4 0 014 4 4 4 0 01-4 4 4 4 0 01-4-4 4 4 0 014-4m0 10c4.42 0 8 1.79 8 4v2H4v-2c0-2.21 3.58-4 8-4z"></path>
                  </svg>
                  <span class="ml-2 text-sm text-gray-600 dark:text-gray-300 capitalize"> <%= open_chat_data[i].join_member_qty %> 명</span>
                  <span class="ml-2 text-sm text-gray-600 dark:text-gray-300 capitalize"> (<%= open_chat_data[i].chat_member %> 명)</span>
                </div>

                <div class="flex ml-6">
                  <svg class="h-5 w-5 fill-current dark:text-gray-300" viewBox="0 0 24 24">
                    <path d="M19 19H5V8h14m-3-7v2H8V1H6v2H5c-1.11 0-2 .89-2 2v14a2 2 0 002 2h14a2 2 0 002-2V5a2 2 0 00-2-2h-1V1m-1 11h-5v5h5v-5z"></path>
                  </svg>
                  <span class="ml-2 text-sm text-gray-600 dark:text-gray-300 capitalize"><%= new Date(open_chat_data[i].created).getMonth()+1 %> 월 / <%= new Date(open_chat_data[i].created).getDate() %> 일 개설</span>
                </div>

              </div>

              <div class="mt-4 flex">
                    <button
                      class="flex items-center
                      focus:outline-none border rounded-full
                      py-2 px-6 leading-none border-gray-500
                      dark:border-gray-600 select-none
                      hover:bg-blue-400 hover:text-white
                      dark-hover:text-gray-200">
                      <svg class="h-5 w-5 fill-current mr-2" viewBox="0 0 561 561">
                          <path d="M459,51H351.9c-10.2-30.6-38.25-51-71.4-51c-33.15,0-61.2,20.4-71.4,51H102c-28.05,0-51,22.95-51,51v408
                          c0,28.05,22.95,51,51,51h357c28.05,0,51-22.95,51-51V102C510,73.95,487.05,51,459,51z M280.5,51c15.3,0,25.5,10.2,25.5,25.5
                          S295.8,102,280.5,102S255,91.8,255,76.5S265.2,51,280.5,51z M459,510H102V102h51v76.5h255V102h51V510z"/>
                      </svg>
                      <span>정보보기</span>
                    </button>

                  <button onclick="join_room(<%= open_chat_data[i].open_chat_no%>);"
                      class="flex items-center ml-4
                      focus:outline-none border rounded-full
                      py-2 px-6 leading-none border-blue-500
                      dark:border-blue-600 select-none
                      hover:bg-blue-400 hover:text-white
                      dark-hover:text-gray-200">
                      <svg
                        class="h-5 w-5 fill-current mr-2
                        text-blue-600"
                        viewBox="0 0 576 512">
                        <path d="M484.5,102h-51v229.5H102v51c0,15.3,10.2,25.5,25.5,25.5H408l102,102V127.5C510,112.2,499.8,102,484.5,102z M382.5,255
                        V25.5C382.5,10.2,372.3,0,357,0H25.5C10.2,0,0,10.2,0,25.5v357l102-102h255C372.3,280.5,382.5,270.3,382.5,255z"/>
                      </svg>
                      <span>참여하기</span>
                    </button>           
                </div>
                       
              </div>
          </div>


          <!-- 룸생성자의 id가 접속한 userId 와 동일한경우 수정 삭제 버튼을 보여줌 -->
          <% if (open_chat_data[i].room_master_id == userId) { %>
            <span>
              <button onClick="reviseRoom('update');"
                  class="ml-3 bg-gray-400 dark:bg-gray-600
                  dark:text-gray-400 rounded-full p-2 focus:outline-none
                  hover:text-pink-500 hover:bg-pink-300 transition
                  duration-500 ease-in-out">
                  <svg class="h-5 w-5 fill-current" viewBox="0 0 510 510">
                    <path
                        d="M0,387.6v96.9h96.9l280.5-283.05l-96.9-96.9L0,387.6z M451.35,127.5c10.2-10.2,10.2-25.5,0-35.7L392.7,33.149
                        c-10.2-10.2-25.5-10.2-35.7,0l-45.9,45.9l96.9,96.9L451.35,127.5z M229.5,433.5l-51,51H510v-51H229.5z"></path>
                  </svg>
              </button>
              <button onClick="reviseRoom('delete',<%= open_chat_data[i].open_chat_no %>);"
                  class="ml-2 bg-gray-400 dark:bg-gray-600
                  dark:text-gray-400 rounded-full p-2 focus:outline-none
                  hover:text-pink-500 hover:bg-pink-300 transition
                  duration-500 ease-in-out">
                  <svg class="h-5 w-5 fill-current" viewBox="0 0 459 459">
                    <path
                        d="M76.5,408c0,28.05,22.95,51,51,51h204c28.05,0,51-22.95,51-51V102h-306V408z M408,25.5h-89.25L293.25,0h-127.5l-25.5,25.5
                        H51v51h357V25.5z"></path>
                  </svg>
                </button>
              </span>

            <% }%>

        </div>
      </div>


      <%  }
    } %>
    

    

    </div>
  </div>
</div>
</div>


<!-- 방만들기 model 창 -->
<div id="modal" class="searchModal">
  <form id="submit_form" action="/newroom" method="post" enctype="multipart/form-data">
    <input id="userId" name="userId" value="<%= userId %>" type="hidden"/>
      <div class="search-modal-content">
        <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 flex flex-col my-2">
          <div class="self-end" onClick="closeModal();">
            <svg class="h-4 w-4" viewBox="0 0 357 357">
              <polygon points="357,35.7 321.3,0 178.5,142.8 35.7,0 0,35.7 142.8,178.5 0,321.3 35.7,357 178.5,214.2 321.3,357 357,321.3 
              214.2,178.5"/>
            </svg>
          </div>
          <div class="-mx-3 md:flex mb-6">
            <div class="md:w-1/2 px-3 mb-6 md:mb-0">
              <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="chat_room_title">
                방 제목
              </label>
              <input class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-red rounded py-3 px-4 mb-3" id="chat_room_title" name="chat_room_title" type="text" placeholder="20자 이내">
              <p id="err_title" class="text-red-500 text-xs italic hidden">Please fill out this field.</p>
            </div>
            <div class="md:w-1/2 px-3">
              <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="chat_room_member">
                인원
              </label>
              <input class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4" id="chat_room_member" name="chat_room_member" type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" placeholder="숫자만 입력 해주세요.">
              <p id="err_member" class="text-red-500 text-xs italic hidden">Please fill out this field.</p>
            </div>
          </div>
          <div class="-mx-3 md:flex mb-6">
            <div class="md:w-full px-3">
              <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="chat_room_img">
                대표 사진
              </label>
              <input class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4 mb-3" id="chat_room_img" name="chat_room_img" type="file">
              <p id="err_img" class="text-red-500 text-xs italic hidden">Please fill out this field.</p>
            </div>
          </div>
          <div style="cursor:pointer; background-color:#d9dfc0; text-align: center; padding-bottom: 10px; padding-top: 10px;" onClick="make_room();">방 개설</div>
        </div>
      </div>
  </form>
</div>

<style>
  /* The Modal (background) */
  .searchModal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 10; /* Sit on top */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.3); /* Black w/ opacity */
  }
  /* Modal Content/Box */
  .search-modal-content {
      background-color: #fefefe;
      margin: 10% auto; /* 15% from the top and centered */
      padding: 20px;
      border: 1px solid #888;
      width: 70%; /* Could be more or less, depending on screen size */
  }
  .hidden {
    display: none;
  }
  </style>
<!-- <script src="/socket.io/socket.io.js"></script> -->
<script src="//code.jquery.com/jquery-1.11.1.js"></script>
<script>

  function make_room_modal () {

    var userId = $('#userId').val();

    if (userId == '') {
      alert('방개설은 로그인 후에 가능합니다');
      return;
    }
    
    $("#modal").show();
  };
  
  function closeModal() {
    $('.searchModal').hide();
  };
  
  function make_room() {
  
    if ($('#chat_room_title').val() == "") {
      $('#err_title').removeClass('hidden');
      $('#err_img').addClass('hidden');
      $('#err_member').addClass('hidden');
      return;
  
    } else if ($('#chat_room_member').val() == "") {
      $('#err_member').removeClass('hidden');
      $('#err_img').addClass('hidden');
      $('#err_title').addClass('hidden');
      return;
  
    } else if ($('#chat_room_img').val() == "") {
      $('#err_img').removeClass('hidden');
      $('#err_title').addClass('hidden');
      $('#err_member').addClass('hidden');
      return;
  
    } else {
      $('#err_title').addClass('hidden');
      $('#err_member').addClass('hidden');
      $('#err_img').addClass('hidden');
    }
  
    $('.searchModal').hide();
    $('#submit_form').submit();
  };

  function join_room(room_number) {

    
    var userId =  $('#userId').val();
    console.log(userId);

    // 로그인이 안된상태는 open chat방에 입장불가 ( 파라미터에 id가 없이 접속한 경우 )
    if (userId == "") {
      alert("방에 입장하시려면 로그인이 필요합니다.");
      return;


    } else {

      // 이미 참여중인 open chat room 인지 db에서 조회 후 참여중이라면 if_join값이 배열로 들어옴 => 채팅방 창으로 이동
      // 참여중인 방이 아니라면 참여 re-check 알림창 띄움
        $.ajax({
              url: '/newroom/get',
              dataType: 'json',
              type: 'GET',
              data: {room_number : room_number, userId : userId},
              success: function(check_join) {

                console.log(check_join);

                if (check_join.if_join == 'not_join') {


                    var result = confirm (room_number+"번 방에 참여 하시겠습니까?");
                    if (result) {

                      location.href = 'http://localhost:3000/chat_home/newroom/join';

                    } else console.log("취소버튼");
                
                } else {

                    alert('해당방은 이미 참여중입니다.');

                }
              }
          });

    }

  }
  

  function reviseRoom(action, open_chat_no) {

      var userId =  $('#userId').val();
      console.log(open_chat_no);

      if (action == 'update') {



      } // if action == update

      // 방 삭제 아이콘 클릭 시 confirm 창 띄워준 후 db에서 삭제
      if (action == 'delete') {

        var result = confirm (open_chat_no+"번 방을 정말 삭제 하시겠습니까?");
        if (result) {

        var delete_room =
        
                  $.ajax({
                    url: '/newroom/delete',
                    dataType: 'json',
                    type: 'GET',
                    data: {room_number : open_chat_no, userId : userId}
                });

        delete_room.done(function(data){

                        location.href = '/chat_home?id='+userId;
                    return;
                });

          } // confirm = true
        
      } // action == delete

  }

  </script>

</body>
</html>