<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chatting</title>

  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>

<!-- component -->
<div class="flex flex-row h-screen antialiased text-gray-800">
  <div class="flex flex-row w-96 flex-shrink-0 bg-gray-100 p-4">
    <div class="flex flex-col items-center py-4 flex-shrink-0 w-20 bg-indigo-800 rounded-3xl">
      <a class="flex items-center justify-center h-12 w-12 bg-indigo-100 text-indigo-800 rounded-full">
        <svg class="w-8 h-8"
             fill="none"
             stroke="currentColor"
             viewBox="0 0 24 24"
             xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M7 8h10M7 12h4m1 8l-4-4H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-3l-4 4z"></path>
        </svg>
      </a>
      <ul class="flex flex-col space-y-2 mt-12">
        <li>
          <a href="http://localhost:3000/chat_home?id=<%= userId %>"
             class="flex items-center">
            <span class="flex items-center justify-center text-indigo-100 hover:bg-indigo-700 h-12 w-12 rounded-2xl">
              <svg class="w-6 h-6"
                   fill="none"
                   stroke="currentColor"
                   viewBox="0 0 24 24"
                   xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path>
              </svg>
            </span>
          </a>
        </li>
        <li>
          <a href="http://localhost:3000/chat_room?id=<%= userId %>"
             class="flex items-center">
            <span class="flex items-center justify-center text-indigo-100 hover:bg-indigo-700 h-12 w-12 rounded-2xl">
              <svg class="w-6 h-6"
                   fill="none"
                   stroke="currentColor"
                   viewBox="0 0 24 24"
                   xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M8 12h.01M12 12h.01M16 12h.01M21 12c0 4.418-4.03 8-9 8a9.863 9.863 0 01-4.255-.949L3 20l1.395-3.72C3.512 15.042 3 13.574 3 12c0-4.418 4.03-8 9-8s9 3.582 9 8z"></path>
              </svg>
            </span>
          </a>
        </li>
        <!-- <li>
          <a href="http://localhost:3000/chat_schedult?id=hello"
             class="flex items-center">
            <span class="flex items-center justify-center text-indigo-100 hover:bg-indigo-700 h-12 w-12 rounded-2xl">
              <svg class="w-6 h-6"
                   fill="none"
                   stroke="currentColor"
                   viewBox="0 0 24 24"
                   xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"></path>
              </svg>
            </span>
          </a>
        </li> -->
        <li>
          <a href="http://localhost:3000/chat_setting?id=<%= userId %>"
             class="flex items-center">
            <span class="flex items-center justify-center text-indigo-100 hover:bg-indigo-700 h-12 w-12 rounded-2xl">
              <svg class="w-6 h-6"
                   fill="none"
                   stroke="currentColor"
                   viewBox="0 0 24 24"
                   xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z"></path>
                <path stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path>
              </svg>
            </span>
          </a>
        </li>
      </ul>
      <button class="mt-auto flex items-center justify-center hover:text-indigo-100 text-indigo-500 h-10 w-10">
        <svg class="w-6 h-6"
             fill="none"
             stroke="currentColor"
             viewBox="0 0 24 24"
             xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z"></path>
        </svg>
      </button>
    </div>
    <div class="flex flex-col w-full h-full pl-4 pr-4 py-4 -mr-4">
      <div class="flex flex-row items-center">
        <div class="flex flex-row items-center">
          <div class="text-xl font-semibold">Messages</div>
          <!-- <div class="flex items-center justify-center ml-2 text-xs h-5 w-5 text-white bg-red-500 rounded-full font-medium">5</div> -->
        </div>
        <div class="ml-auto">
          <button class="flex items-center justify-center h-7 w-7 bg-gray-200 text-gray-500 rounded-full">
            <svg class="w-4 h-4 stroke-current"
                 fill="none"
                 stroke="currentColor"
                 viewBox="0 0 24 24"
                 xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
            </svg>
          </button>
        </div>
      </div>
      <div class="mt-5">
        <!-- <ul class="flex flex-row items-center justify-between">
          <li>
            <a href="#"
               class="flex items-center pb-3 text-xs font-semibold relative text-indigo-800">
              <span>All Conversations</span>
              <span class="absolute left-0 bottom-0 h-1 w-6 bg-indigo-800 rounded-full"></span>
            </a>
          </li>
          <li>
            <a href="#"
               class="flex items-center pb-3 text-xs text-gray-700 font-semibold">
              <span>Archived</span>
            </a>
          </li>
          <li>
            <a href="#"
               class="flex items-center pb-3 text-xs text-gray-700 font-semibold">
              <span>Starred</span>
            </a>
          </li>
        </ul> -->
      </div>
      <div class="mt-5">
        <div class="text-xs text-gray-400 font-semibold uppercase">오픈채팅</div>
      </div>
      <div class="mt-2">
        <div class="flex flex-col -mx-4">

          <!--  open_chat list 시작되는 구역 -->
          
        <% for(var i = 0; i < open_chat_room_data.length; i++) { 
          
          var now_time = new Date().valueOf();
          var time_gap = now_time - open_chat_room_data[i].last_message_time;
          var time_gap_minute = Math.floor(time_gap/(1000 * 60));


          var message_elapsed_time = '';

          if (open_chat_room_data[i].last_message_time == null || open_chat_room_data[i].last_message_time == '') {

            message_elapsed_time = '';

          } else {
          
          
                if (time_gap_minute > 59 ) {
                  var time_gap_hour = Math.floor(time_gap_minute/60);


                  if (time_gap_hour > 23) {
                    var time_gap_day = Math.ceil(time_gap_hour/24);

                    message_elapsed_time = time_gap_day + ' days ago';

                  } else {

                    message_elapsed_time = time_gap_hour + ' hours ago';
                  
                  }

                } else {

                  message_elapsed_time = time_gap_minute + ' minutes ago';

                }
            }

        %>
          
        <a class="room_id" data-value="open_chat_<%=open_chat_room_data[i].open_chat_no %>">
          <div class="relative flex flex-row items-center p-4">
            <div class="absolute text-xs text-gray-500 right-0 top-0 mr-4 mt-3"><%= message_elapsed_time %></div>
            <div class="flex items-center justify-center h-10 w-10 rounded-full bg-pink-500 text-pink-300 font-bold flex-shrink-0">
                <img class="h-12 w-12 rounded-full object-cover" src="http://127.0.0.1/<%= open_chat_room_data[i].chat_thumbnail %>">
            </div>
            <div class="flex flex-col flex-grow ml-3">
              <div class="text-sm font-medium"><%= open_chat_room_data[i].chat_title %></div>
              <div class="text-xs truncate w-40"><%= open_chat_room_data[i].last_message %></div>
            </div>


            <!-- 채팅창에 입장한 시간보다 나간시간이 더 크면서 && 채팅창 나간시간보다 마지막 전달된 메시지의 시간이 더 크면 new를 표시해줌 -->
            <% if (open_chat_room_data[i].last_visit_time <= open_chat_room_data[i].last_leave_time && open_chat_room_data[i].last_message_time > open_chat_room_data[i].last_leave_time) { %>
            
              <div class="flex-shrink-0 ml-2 self-end mb-1">
                <span class="flex items-center justify-center h-5 w-5 bg-red-500 text-white text-xs rounded-full">New</span>
              </div>

           <% }%>

          </div>
        </a>

          <% } %>

        </div>
      </div>
      <div class="mt-5">
        <div class="text-xs text-gray-400 font-semibold uppercase">1:1채팅</div>
      </div>
      <div class="h-full overflow-hidden relative pt-2">
        <div class="flex flex-col divide-y h-full overflow-y-auto -mx-4">
          <div class="flex flex-row items-center p-4 relative">
            <div class="absolute text-xs text-gray-500 right-0 top-0 mr-4 mt-3">2 hours ago</div>
            <div class="flex items-center justify-center h-10 w-10 rounded-full bg-pink-500 text-pink-300 font-bold flex-shrink-0">
              T
            </div>
            <div class="flex flex-col flex-grow ml-3">
              <div class="text-sm font-medium">유재석</div>
              <div class="text-xs truncate w-40">Good after noon! how can i help you?</div>
            </div>
            <div class="flex-shrink-0 ml-2 self-end mb-1">
              <span class="flex items-center justify-center h-5 w-5 bg-red-500 text-white text-xs rounded-full">3</span>
            </div>
          </div>
          <div class="flex flex-row items-center p-4">
            <div class="flex items-center justify-center h-10 w-10 rounded-full bg-pink-500 text-pink-300 font-bold flex-shrink-0">
              T
            </div>
            <div class="flex flex-col flex-grow ml-3">
              <div class="flex items-center">
                <div class="text-sm font-medium">팀노바</div>
              </div>
              <div class="text-xs truncate w-40">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis, doloribus?</div>
            </div>
          </div>
        </div>
        <div class="absolute bottom-0 right-0 mr-2">
          <button class="flex items-center justify-center shadow-sm h-10 w-10 bg-red-500 text-white rounded-full">
            <svg class="w-6 h-6"
                 fill="none"
                 stroke="currentColor"
                 viewBox="0 0 24 24"
                 xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="flex flex-col h-full w-full bg-white px-4 py-6">


    <div class="flex flex-row items-center py-4 px-6 rounded-2xl shadow">
      <div class="flex items-center justify-center h-10 w-10 rounded-full bg-pink-500 text-pink-100">
        <img class="h-10 w-10 rounded-full object-cover" src="http://127.0.0.1/<%= join_user_data[0].profileimg %>">
      </div>
      <div class="flex flex-col ml-3">
        <div class="font-semibold text-sm"><%= join_user_data[0].nickname %></div>
        <div class="text-xs text-gray-500">Active</div>
      </div>
      <div class="ml-auto">
        <ul class="flex flex-row items-center space-x-2">
          <!-- <li>
            <a href="#"
               class="flex items-center justify-center bg-gray-100 hover:bg-gray-200 text-gray-400 h-10 w-10 rounded-full">
              <span>
                <svg class="w-5 h-5"
                     fill="currentColor"
                     stroke="none"
                     viewBox="0 0 24 24"
                     xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M3 5a2 2 0 012-2h3.28a1 1 0 01.948.684l1.498 4.493a1 1 0 01-.502 1.21l-2.257 1.13a11.042 11.042 0 005.516 5.516l1.13-2.257a1 1 0 011.21-.502l4.493 1.498a1 1 0 01.684.949V19a2 2 0 01-2 2h-1C9.716 21 3 14.284 3 6V5z"></path>
                </svg>
              </span>
            </a>
          </li>
          <li>
            <a href="#"
               class="flex items-center justify-center bg-gray-100 hover:bg-gray-200 text-gray-400 h-10 w-10 rounded-full">
              <span>
                <svg class="w-5 h-5"
                     fill="currentColor"
                     stroke="none"
                     viewBox="0 0 24 24"
                     xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M15 10l4.553-2.276A1 1 0 0121 8.618v6.764a1 1 0 01-1.447.894L15 14M5 18h8a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v8a2 2 0 002 2z"></path>
                </svg>
              </span>
            </a>
          </li> -->
          
          <li class="show_chat_room_info">
            <a class="flex items-center justify-center bg-gray-100 hover:bg-gray-200 text-gray-400 h-10 w-10 rounded-full">
              <span>
                <svg class="w-5 h-5"
                     fill="none"
                     stroke="currentColor"
                     viewBox="0 0 24 24"
                     xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M12 5v.01M12 12v.01M12 19v.01M12 6a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z"></path>
                </svg>
              </span>
            </a>
          </li>

          <!-- 채팅룸 멤버 확인 -->
          <div class="chat_room_info hidden bg-gray-50 p-2" style="position: absolute; width:250px; right:85px; top: 26px; z-index: 1;">
            <input class="chat_room_info_room_no" type="hidden" name="<%= open_chat_room_data[0].open_chat_no %>">
            <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;" calss="room_info_area">
                <svg class="close_chat_room_info" style="align-self: end; margin-right: 10px; margin-top: 10px;" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                      width="10px" height="10px" viewBox="0 0 357 357" style="enable-background:new 0 0 357 357;" xml:space="preserve">
                    <polygon points="357,35.7 321.3,0 178.5,142.8 35.7,0 0,35.7 142.8,178.5 0,321.3 35.7,357 178.5,214.2 321.3,357 357,321.3 
                    214.2,178.5"/>
                </svg>
                <div style="display: flex; flex-direction: column; justify-content: space-between; align-items: center;" class="chat_room_info">
                    <img class="chat_room_info_thumb" style="border-radius: 7px; width:60px; height: 60px; margin-bottom: 10px;" src="http://127.0.0.1/<%= open_chat_room_data[0].chat_thumbnail %>">
                    <h2 class="chat_room_info_title text-lg"><%= open_chat_room_data[0].chat_title %></h2>
                    <div class="text-gray-400 text-base mt-2 chat_room_addinfo">
                        <span class="chat_room_info_member" style="padding-right: 10px; border-right: 1px solid gray;"><%= open_chat_room_data[0].member_count %> 명</span>
                        <span class="chat_room_info_created"><%= new Date(open_chat_room_data[0].created).toLocaleDateString() %></span>
                    </div>
                </div>
            </div>
            <div class="chat_room_member h-48 overflow-y-auto mt-4 text-sm border-t-2 border-b-2 border-gray-200">


                <% for(var temp = 0; temp < open_chat_member.length; temp++) { 

                   if (open_chat_room_data[0].open_chat_no == open_chat_member[temp].open_chat_no) { %>

                      <div class="member_each_area" style="display: flex; flex-direction: row; align-items: center; padding: 10px 5px;">
                          <div style="width: 20%;">
                              <img  style="border-radius: 9999px; width:30px; height: 30px" src="http://127.0.0.1/<%= open_chat_member[temp].profileimg %>" >
                          </div>
                          <div style="width: 80%" class="nickname_area">

                            <% if (open_chat_room_data[0].room_master_id == open_chat_member[temp].id) { %>
                              <span style="border-radius: 9999px; background-color: dimgrey; padding: 3px 3px; color: floralwhite; font-size: 12px;" class="room_own">방장</span>

                            <% } else if (open_chat_member[temp].id == join_user_data.id) { %>
                              <span style="border-radius: 9999px; background-color: dimgrey; padding: 3px 3px; color: floralwhite; font-size: 12px;" class="room_own">나</span>
                            <% } %>

                              <span class="room_own"><%= open_chat_member[temp].nickname %></span>
                          </div>
                      </div>

                    <% } %>
                  <% } %>

            </div>
            <div class="mt-2 float-right">
              <button class="p-2 text-gray-400 text-xs" onclick="exitChatRoom()">채팅방 나가기</button>
            </div>
        </div>
        </ul>
      </div>
    </div>
   
   
    <div class="h-full overflow-hidden py-4">
      <div id="messages_area_scroll" class="h-full overflow-y-auto">


          <!-- <div id="receive_message" class="col-start-1 col-end-8 p-3 rounded-lg">
            <div class="flex flex-row items-center">
              <div class="flex items-center justify-center h-10 w-10 rounded-full bg-indigo-500 flex-shrink-0"> A </div>
              <div class="relative ml-3 text-sm bg-white py-2 px-4 shadow rounded-xl">
                <div>Hey How are you today?</div>
              </div>
            </div>
          </div>
          <div id="send_message" class="col-start-6 col-end-13 p-3 rounded-lg">
            <div class="flex items-center justify-start flex-row-reverse">
              <div id="profileimg" class="flex items-center justify-center h-10 w-10 rounded-full bg-indigo-500 flex-shrink-0"></div>
              <div class="relative mr-3 text-sm bg-indigo-100 py-2 px-4 shadow rounded-xl">
                <div>I'm ok what about you?</div>
              </div>
            </div>
          </div> -->
          <!-- <div class="col-start-1 col-end-8 p-3 rounded-lg">
            <div class="flex flex-row items-center">
              <div
                  class="flex items-center justify-center h-10 w-10 rounded-full bg-indigo-500 flex-shrink-0"
              >
                A
              </div>
              <div
                  class="relative ml-3 text-sm bg-white py-2 px-4 shadow rounded-xl"
              >
                <div class="flex flex-row items-center">
                  <button
                      class="flex items-center justify-center bg-indigo-600 hover:bg-indigo-800 rounded-full h-8 w-10"
                  >
                    <svg
                        class="w-6 h-6 text-white"
                        fill="none"
                        stroke="currentColor"
                        viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="1.5"
                          d="M14.752 11.168l-3.197-2.132A1 1 0 0010 9.87v4.263a1 1 0 001.555.832l3.197-2.132a1 1 0 000-1.664z"
                      ></path>
                      <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="1.5"
                          d="M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                      ></path>
                    </svg>
                  </button>
                  <div class="flex flex-row items-center space-x-px ml-4">
                    <div class="h-2 w-1 bg-gray-500 rounded-lg"></div>
                    <div class="h-2 w-1 bg-gray-500 rounded-lg"></div>
                    <div class="h-4 w-1 bg-gray-500 rounded-lg"></div>
                    <div class="h-8 w-1 bg-gray-500 rounded-lg"></div>
                    <div class="h-8 w-1 bg-gray-500 rounded-lg"></div>
                    <div class="h-10 w-1 bg-gray-500 rounded-lg"></div>
                    <div class="h-10 w-1 bg-gray-500 rounded-lg"></div>
                    <div class="h-12 w-1 bg-gray-500 rounded-lg"></div>
                    <div class="h-10 w-1 bg-gray-500 rounded-lg"></div>
                    <div class="h-6 w-1 bg-gray-500 rounded-lg"></div>
                    <div class="h-5 w-1 bg-gray-500 rounded-lg"></div>
                    <div class="h-4 w-1 bg-gray-500 rounded-lg"></div>
                    <div class="h-3 w-1 bg-gray-500 rounded-lg"></div>
                    <div class="h-2 w-1 bg-gray-500 rounded-lg"></div>
                    <div class="h-2 w-1 bg-gray-500 rounded-lg"></div>
                    <div class="h-2 w-1 bg-gray-500 rounded-lg"></div>
                    <div class="h-10 w-1 bg-gray-500 rounded-lg"></div>
                    <div class="h-2 w-1 bg-gray-500 rounded-lg"></div>
                    <div class="h-10 w-1 bg-gray-500 rounded-lg"></div>
                    <div class="h-8 w-1 bg-gray-500 rounded-lg"></div>
                    <div class="h-8 w-1 bg-gray-500 rounded-lg"></div>
                    <div class="h-1 w-1 bg-gray-500 rounded-lg"></div>
                    <div class="h-1 w-1 bg-gray-500 rounded-lg"></div>
                    <div class="h-2 w-1 bg-gray-500 rounded-lg"></div>
                    <div class="h-8 w-1 bg-gray-500 rounded-lg"></div>
                    <div class="h-8 w-1 bg-gray-500 rounded-lg"></div>
                    <div class="h-2 w-1 bg-gray-500 rounded-lg"></div>
                    <div class="h-2 w-1 bg-gray-500 rounded-lg"></div>
                    <div class="h-2 w-1 bg-gray-500 rounded-lg"></div>
                    <div class="h-2 w-1 bg-gray-500 rounded-lg"></div>
                    <div class="h-4 w-1 bg-gray-500 rounded-lg"></div>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
     


      </div>
    </div>
    <form id="chat">
      <input id="send_id" value="<%= join_user_data[0].id %>" type="hidden">
      <input id="send_nickname" value="<%= join_user_data[0].nickname %>" type="hidden">
      <input id="send_profileimg" value="<%= join_user_data[0].profileimg %>" type="hidden">
      <input id="send_room_id" value="open_chat_<%= open_chat_room_data[0].open_chat_no %>" type="hidden" >
        <div class="flex flex-row items-center">
          <div class="flex flex-row items-center w-full border rounded-3xl h-12 px-2">
            <!-- <button class="flex items-center justify-center h-10 w-10 text-gray-400 ml-1">
              <svg class="w-5 h-5"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M19 11a7 7 0 01-7 7m0 0a7 7 0 01-7-7m7 7v4m0 0H8m4 0h4m-4-8a3 3 0 01-3-3V5a3 3 0 116 0v6a3 3 0 01-3 3z"></path>
              </svg>
            </button> -->
            <div class="w-full">
              <input type="text" id="message"
                    class="border border-transparent w-full focus:outline-none text-sm h-10 flex items-center ml-1" placeholder="Type your message....">
            </div>
            <div class="flex flex-row">
              <!-- <button class="flex items-center justify-center h-10 w-8 text-gray-400">
                <svg class="w-5 h-5"
                    fill="none"
                    stroke="currentColor"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M15.172 7l-6.586 6.586a2 2 0 102.828 2.828l6.414-6.586a4 4 0 00-5.656-5.656l-6.415 6.585a6 6 0 108.486 8.486L20.5 13"></path>
                </svg>
              </button> -->
              <button class="flex items-center justify-center h-10 w-8 text-gray-400 ml-1 mr-2">
                <svg class="w-5 h-5"
                    fill="none"
                    stroke="currentColor"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M4 16l4.586-4.586a2 2 0 012.828 0L16 16m-2-2l1.586-1.586a2 2 0 012.828 0L20 14m-6-6h.01M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z"></path>
                </svg>
              </button>
            </div>
          </div>
          <div class="ml-6">
            <button class="flex items-center justify-center h-10 w-10 rounded-full bg-gray-200 hover:bg-gray-300 text-indigo-800 text-white">
              <svg class="w-5 h-5 transform rotate-90 -mr-px"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M12 19l9 2-9-18-9 18 9-2zm0 0v-8"></path>
              </svg>
            </button>
          </div>
        </div>
    </form>
  </div>
</div>
<style>
  .hidden {
    display: none;
  }
</style>

<script src="/socket.io/socket.io.js"></script> <!-- 1 -->
<script src="//code.jquery.com/jquery-1.11.1.js"></script>
<script>


function getUrlParams() {
    var params = {};
    window.location.search.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(str, key, value) { params[key] = value; });
    return params;
  }
  var Param = getUrlParams();


  var socket = io(); //1


    var user_id = $('#send_id').val();
    var user_nickname = $('#send_nickname').val();
    var user_profileimg = $('#send_profileimg').val();

    var messages_area = $('#messages_area_scroll');
    
    // var main_room_no = $('#send_room_id').val();
    var room_id = $('#send_room_id').val();;

    console.log(room_id);
    console.log(user_id);



      // 방만들기 혹은 방 입장하기를 통해 들어온 경우 해당 open_chat_room 으로 socket 연결
      // 왼쪽 nav 왼쪽을 클릭해서 chat_room을 들어온 경우 제일 상위 room 으로 자동 socket연결
      
      if(user_id != '' || user_id != undefined) {
        console.log('pass if 문');
     

        socket.emit('join_room', {

          user_id: user_id,
          nickname: user_nickname,
          profileimg: user_profileimg,
          room_id: room_id,
          member_type: 'exist_member'

          });
      } 



      // 클릭으로 change 챗룸 이동
      $('.room_id').click(function() {

        messages_area.html('');

        room_id = $(this).data("value");
        $('#send_room_id').val(room_id);
        console.log(room_id);
  
        socket.emit('join_room', {

            user_id: user_id,
            nickname: user_nickname,
            profileimg: user_profileimg,
            room_id: room_id,
            member_type: 'exist_member'

        });

      })


    // 새로 방에 입장했을때 한번만 반응하는 메서드 ---------------------> 아직 구현안됨
    socket.on('join_new_room', function(user_nickname){ //4
      messages_area.append('<div class="col-start-5 col-end-13 text-gray-500 text-lg font-bold">' + user_nickname + ' 님이 입장 하셨습니다.</div>');

    });



    // 기존에 데이터 베이스에 저장돼있던 chatting대화 데이터 가져오는 곳
    socket.on('chat_data', function(conversation_data, chat_room_info_data){ //3
      console.log(conversation_data);
      console.log(chat_room_info_data);
      

      // 배열로 전달 된 대화내용 채팅창에 보여줌
      for (var chat_temp = 0; chat_temp < conversation_data.length; chat_temp++ ) {


          // 전달 받은 img경로를 html로 바꿈 / 전달받은 시간 utc를 str으로 바꿔 변수에 저장
          var user_profileimg = '<img class=\"h-12 w-12 rounded-full object-cover\" src=\"http://127.0.0.1/' + conversation_data[chat_temp].profileimg + '\">';
          var chat_sent_time = get_str_time (conversation_data[chat_temp].sent_time);
          

          // conversation_data의 id = 대화를 발송한 user의 id / user_id 는 현재 접속중인 user_id
          // 내가보낸 메시지면 if 안쪽 / 그외는 else로 진행됨
          if (conversation_data[chat_temp].sent_id == user_id) {

            var message_html = 
              `
              <div class="col-start-6 col-end-13 p-3 rounded-lg">
                  <div class="flex items-center justify-start flex-row-reverse">
                    <div id="profileimg" class="flex items-center justify-center h-10 w-10 rounded-full bg-indigo-500 flex-shrink-0">${user_profileimg}</div>
                    <div class="relative mr-3 text-sm bg-indigo-100 py-2 px-4 shadow rounded-xl">
                      <div>${conversation_data[chat_temp].sent_message}</div>
                    </div>
                    <div class="relative mr-3 text-xs">${chat_sent_time}</div>
                  </div>
                </div>`
                  
            messages_area.append(message_html);
            messages_area.scrollTop(messages_area[0].scrollHeight - messages_area[0].clientHeight);

          } else {

            var message_html = `
                <div class="col-start-1 col-end-8 p-3 rounded-lg">
                    <div class="flex flex-row items-center">
                      <div class="flex items-center justify-center h-10 w-10 rounded-full bg-indigo-500 flex-shrink-0">${user_profileimg}</div>
                      <div class="relative ml-3 text-sm bg-white py-2 px-4 shadow rounded-xl">
                        <div>${conversation_data[chat_temp].sent_message}</div>
                      </div>
                      <div class="relative ml-3 text-xs">${chat_sent_time}</div>
                    </div>
                  </div>`
                  
            messages_area.append(message_html);
            messages_area.scrollTop(messages_area[0].scrollHeight - messages_area[0].clientHeight);

            }
      }

      let time = new Date(chat_room_info_data[0].created).toLocaleDateString();

      $('.chat_room_info_thumb').attr('src','http://127.0.0.1/' + chat_room_info_data[0].chat_thumbnail);
      $('.chat_room_info_title').text(chat_room_info_data[0].chat_title);
      $('.chat_room_info_member').text(chat_room_info_data.length + ' 명');
      $('.chat_room_info_created').text('개설일 ' + time);
      $('.chat_room_info_room_no').attr('name',chat_room_info_data[0].open_chat_no);

      let temp_html = '';
      for (var temp = 0 ; temp < chat_room_info_data.length ; temp++ ) {

        // 룸개설자와 룸멤버의 회원 id와 같은 경우 방장 title 붙여줌
        if (chat_room_info_data[temp].room_master_id == chat_room_info_data[temp].member_id) {

          temp_html +=
            `<div class="member_each_area ${chat_room_info_data[temp].member_id}" style="display: flex; flex-direction: row; align-items: center; padding: 10px 5px;">
                <div style="width: 20%;">
                    <img  style="border-radius: 9999px; width:30px; height: 30px" src="http://127.0.0.1/${chat_room_info_data[temp].profileimg}" >
                </div>
                <div style="width: 80%" class="nickname_area">
                    <span style="border-radius: 9999px; background-color: dimgrey; padding: 3px 3px; color: floralwhite; font-size: 12px;" class="room_own">방장</span>
                    <span class="room_own">${chat_room_info_data[temp].nickname}</span>
                </div>
            </div>`

        
        // 룸멤버가 현재 접속중인 user 인경우 '나' 라고 표시해줌
        } else if (chat_room_info_data[temp].member_id == user_id) {

          temp_html +=
            `<div class="member_each_area ${chat_room_info_data[temp].member_id}" style="display: flex; flex-direction: row; align-items: center; padding: 10px 5px;">
                <div style="width: 20%;">
                    <img  style="border-radius: 9999px; width:30px; height: 30px" src="http://127.0.0.1/${chat_room_info_data[temp].profileimg}" >
                </div>
                <div style="width: 80%" class="nickname_area">
                    <span style="border-radius: 9999px; background-color: dimgrey; padding: 3px 3px; color: floralwhite; font-size: 12px;" class="room_own">나</span>
                    <span class="room_own">${chat_room_info_data[temp].nickname}</span>
                </div>
            </div>`

        } else {

          temp_html +=
            `<div class="member_each_area ${chat_room_info_data[temp].member_id}" style="display: flex; flex-direction: row; align-items: center; padding: 10px 5px;">
                <div style="width: 20%;">
                    <img  style="border-radius: 9999px; width:30px; height: 30px" src="http://127.0.0.1/${chat_room_info_data[temp].profileimg}" >
                </div>
                <div style="width: 80%" class="nickname_area">
                    <span class="room_own">${chat_room_info_data[temp].nickname}</span>
                </div>
            </div>`

        }

      }

      $('.chat_room_member').html('');
      $('.chat_room_member').append(temp_html);

    });


    socket.on('chat', function(send_user_id, nickname, profile, text, now_time){ //3
      console.log(text);
      

      // 전달 받은 img경로를 html로 바꿈 / 전달받은 시간 utc를 str으로 바꿔 변수에 저장
      var user_profileimg = '<img class=\"h-12 w-12 rounded-full object-cover\" src=\"http://127.0.0.1/' + profile + '\">';
      var chat_sent_time = get_str_time (now_time);
      


       // conversation_data의 id = 대화를 발송한 user의 id / user_id 는 현재 접속중인 user_id
       // 내가보낸 메시지면 if 안쪽 / 그외는 else로 진행됨
      if (user_id == send_user_id) {

        var message_html = 
           `<div class="col-start-6 col-end-13 p-3 rounded-lg">
              <div class="flex items-center justify-start flex-row-reverse">
                <div id="profileimg" class="flex items-center justify-center h-10 w-10 rounded-full bg-indigo-500 flex-shrink-0">${user_profileimg}</div>
                <div class="relative mr-3 text-sm bg-indigo-100 py-2 px-4 shadow rounded-xl">
                  <div>${text}</div>
                </div>
                <div class="relative mr-3 text-xs">${chat_sent_time}</div>
              </div>
            </div>`
              
        messages_area.append(message_html);
        messages_area.scrollTop(messages_area[0].scrollHeight - messages_area[0].clientHeight);

      } else {

        var message_html = `
            <div class="col-start-1 col-end-8 p-3 rounded-lg">
                <div class="flex flex-row items-center">
                  <div class="flex items-center justify-center h-10 w-10 rounded-full bg-indigo-500 flex-shrink-0">${user_profileimg}</div>
                  <div class="relative ml-3 text-sm bg-white py-2 px-4 shadow rounded-xl">
                    <div>${text}</div>
                  </div>
                  <div class="relative ml-3 text-xs">${chat_sent_time}</div>
                </div>
              </div>`
              
        messages_area.append(message_html);
        messages_area.scrollTop(messages_area[0].scrollHeight - messages_area[0].clientHeight);
       
        }
    });



    // 실시간 채팅내용 서버로 발송
    $('#chat').on('submit', function(e){ //2

      console.log($('#send_nickname').val());
      var now_time = new Date().valueOf();

      console.log('chat 서버로 데이터 전달', user_id + user_nickname +  user_profileimg + $('#message').val() + $('#send_room_id').val() + now_time);
      socket.emit('chat', user_id, user_nickname,  user_profileimg, $('#message').val(), $('#send_room_id').val(), now_time);
      $('#message').val('');
      $('#message').focus();
      e.preventDefault();
    });


    $('.show_chat_room_info').click(function() {
      $(this).siblings('.chat_room_info').removeClass('hidden');


      $('.close_chat_room_info').click(function(){
        $(this).closest('.chat_room_info').addClass('hidden');
      })
    })


  // 채팅방 나가기를 선택한경우
  function exitChatRoom() {

    let room_no = $('.chat_room_info_room_no').attr('name');

    var delete_room =
      
            $.ajax({
              url: 'chat_room/exit',
              dataType: 'json',
              type: 'GET',
              data: {room_no : room_no, userId : user_id}


          });

        delete_room.done(function(data){

                  location.href = '/chat_room?id='+user_id;
              return;
          });

  }

    

    // 채팅이 입력된 시간을 시,분만 보여주도록 변환해주는 메서드
  function get_str_time (time) {

      var return_time = '';
      var the_hours = new Date(time).getHours();
      var the_minute = new Date(time).getMinutes();

      if (the_minute.toString().length == 1) {
        the_minute = '0' + the_minute
      }


      if (the_hours <= 11) {

        return return_time = 'am  ' + the_hours + ' : ' + the_minute;

      } else {

        if (the_hours == 12) {

          return return_time = 'pm  ' + the_hours + ' : ' + the_minute;

        } else {

         return return_time = 'pm  ' + (the_hours-12) + ' : ' + the_minute;

         }
      }

    }



</script>

</body>
</html>