/* stylelint-disable selector-list-comma-newline-after */

html,
body {
  font-family: Nanum Gothic, sans-serif, Malgun Gothic, 맑은 고딕, Nanum Barun Gothic, Spoqa Han Sans, 돋움, 돋움체, dotum, dotumche;
  font-size: 13px;
  line-height: 1.6;
  color: #202020;
  margin: 0;
  padding: 0;
  word-break: normal;
}

html {
  overflow-y: scroll;
}

.headerWrapper {
  display: block;
  position: relative;
  height: 120px;
  background: SteelBlue;
  z-index: 99;
  margin: 0 0 0 0;
}

.container {
  width: 1100px !important;
  min-width: 1100px !important;
  max-width: 1100px !important;
  margin: 0 auto;
  position: relative;
}

* {
  -webkit-text-size-adjust: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

div {
  display: block;
}

.headerLeft,
.headerRight {
  width: 33.3333%;
  color: #fff;
  font-size: 11px;
  padding: 85px 0 0;
}

.headerLeft,
.headerLogo,
.headerRight {
  float: left;
  display: block;
}

.headerLeft .links,
.headerLeft .links li {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
}

.headerLogo {
  width: 100px;
  text-align: center;
  margin: 0 auto;
  padding: 7px 0 8px;
}

.text-muted {
  color:rosybrown !important;
  font-size: 1.40rem !important;
  font-weight: bold !important;

}

.blog-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
}

.blog-header-logo {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  font-size: 2.25rem;
}

.blog-header-logo:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

.display-4 {
  font-size: 2.5rem;
}

@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.20rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
}

.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}

.flex-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.h-250 {
  height: 250px;
}

@media (min-width: 768px) {
  .h-md-250 {
    height: 250px;
  }
}

.rounded {
  border-radius: 0.60rem !important;
}

/*
* Footer
*/
.blog-footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}

.blog-footer p:last-child {
  margin-bottom: 0;
}

