
.icon-heart:before { content: '\e800'; } /* '' */
.icon-right-open-outline:before { content: '\e801'; } /* '' */
.icon-left-open-outline:before { content: '\e802'; } /* '' */
.icon-chat:before { content: '\e803'; } /* '' */
.icon-left-open:before { content: '\e804'; } /* '' */
.icon-right-open:before { content: '\e805'; } /* '' */
.icon-flight:before { content: '\e806'; } /* '' */
.icon-plus-circle:before { content: '\e807'; } /* '' */
.icon-heart-empty:before { content: '\e808'; } /* '' */
.icon-chat-1:before { content: '\e809'; } /* '' */
.icon-angle-circled-left:before { content: '\f137'; } /* '' */
.icon-angle-circled-right:before { content: '\f138'; } /* '' */